<h1>
  <%= String.capitalize(@room.name) %>
  <small class="lead"><%= @room.description %></small>
</h1>

<div id="chat" data-room="<%= @room.name %>"></div>
<script>
  window.userToken = "<%= @current_user_token %>";
</script>
